<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">eBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            aria-controls="navbarSupportedContent" data-bs-target="#navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ================  ================ -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book">도서검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/posts">게시판</a>
                </li>
                <li class="nav-item" id="cart" style="display:none">
                    <a class="nav-link active" aria-current="page" href="/users/cart">장바구니</a>
                </li>
            </ul>
            <!-- ================  ================ -->
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="login">
                        <a class="nav-link active" aria-current="page" href="/login">로그인</a>
                    </li>
                    <li class="nav-item" id="mypage" style="display:none">
                        <a class="nav-link active" aria-current="page" href="/users/mypage">MyPage</a>
                    </li>
                    <li class="nav-item" id="logout" style="display:none">
                        <a class="nav-link active" aria-current="page" href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
            <!-- ================  ================ -->
        </div>
    </div>
</nav>


<!-- 캐러셀 컴포넌트 -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- 인디케이터 (하단 점) -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"></button>
    </div>

    <!-- 슬라이드 이미지 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/readingBook.jpg" class="d-block w-100" alt="배너ChatGPT">
        </div>
        <div class="carousel-item">
            <img src="/images/digitalLabrary.jpg" class="d-block w-100" alt="배너ChatGPT">
        </div>
        <div class="carousel-item">
            <img src="/images/bookStore.jpg" class="d-block w-100" alt="배너ChatGPT">
        </div>
        <div class="carousel-item">
            <img src="/images/eLearning.jpg" class="d-block w-100" alt="배너ChatGPT">
        </div>
        <div class="carousel-item">
            <img src="/images/studyLiterature.jpg" class="d-block w-100" alt="배너ChatGPT">
        </div>
    </div>

    <!-- 이전/다음 버튼 -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- 자동 재생을 위한 스크립트 -->
<script>
    // document는 웹 페이지 자체를 나타내는 객체
    $(document).ready(function() {
        const carousel = new bootstrap.Carousel('#carouselExample', {
            interval: 10000,
            wrap: true,
            pause: 'hover'
        })
    })
</script>