<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="python-tab" data-bs-toggle="tab" 
            data-bs-target="#tab-pane" type="button"
            role="tab" aria-controls="python-tab-pane" aria-selected="true">파이썬</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="react-tab" data-bs-toggle="tab" 
            data-bs-target="#tab-pane" type="button"
            role="tab" aria-controls="react-tab-pane" aria-selected="false">리액트</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="sql-tab" data-bs-toggle="tab" 
            data-bs-target="#tab-pane" type="button"
            role="tab" aria-controls="sql-tab-pane" aria-selected="false">SQL</button>
    </li>
</ul>


<!-- Body -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab-pane" role="tabpanel" aria-labelledby="python-tab" tabindex="0">
        <div id="best_book" class="row my-5"></div>
    </div>
</div>


<script type="text/x-handlebars-template" id="temp-best">
    {{#each documents}}
    <!-- 아래 구간을 n번 반복해야 된다. 원래면 for문 또는 while문 써야함. -->
    <div class="col-6 col-md-4 col-lg-2">
        <div class="card my-2">
            <div class="card-body">
                <img src="{{image thumbnail}}" index="{{@index}}" alt="도서이미지" style="cursor: pointer;width:80%">
            </div>
        </div>
        <%-include("bookModal.ejs") %>
    </div>
    {{/each}}
</script>


<script>
    let best = "python"
    getBest()
    
    $("#python-tab").on("click", () => {
        best = "python"
        getBest()
    })

    $("#react-tab").on("click", () => {
        best = "리액트"
        getBest()
    })

    $("#sql-tab").on("click", () => {
        best = "SQL"
        getBest()
    })


    function getBest(){
        $.ajax({
            method: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            headers: { Authorization: "KakaoAK bf56a7a88829f13ba8fef4e0ed4c2aeb" },
            data: { query: best, page: page, size:6, sort:'latest' },
            dataType: "json",
                success: function(data){
                    console.log(data)
                    let temp = Handlebars.compile($("#temp-best").html())
                    //div태그 안에 출력하기 - 시각화
                    $("#best_book").html(temp(data))
                },
                error:function(error){
                    console.log(error)
                }
        })///// end of ajax
    }///// end of getBest()

    $("#best_book").on("click", ".card img", function() {
        let index = $(this).attr("index")
        $(`#best_book #modal${index}`).modal("show")
    })
</script>